.btn{
    padding: var(--pm-md);
    text-decoration: none;
    color: var(--white);
    background-color: var(--btn-bg-color);
    font-family: 'Lato';
    font-size: var(--main-size);
    line-height: rem(18);
    text-align: center;
    align-items: center;

    &-lg{
        padding: var(--pm-lg);
    }
    &-sm{
        padding: var(--pm-sm);
    }

    &-primary{
        background-color: var(--primary-color);
    }
    &-secondary{
        background-color: var(--secondary-color);
    }
    &-danger{
        background-color: var(--btn-bg-color);
    }
    &-transparent{
        background-color: transparent;
        border: 1px solid var(--text-color);
        color: /*adjust-color($color: var(--bg-color))*/ var(--text-color);
    }
}

.Button {
    padding: rem(12) rem(24);
    font-size: rem(16);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: rem(24);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    border: rem(1) solid black;
    text-decoration: none;

    &.Primary {
        background: black;
        text-decoration: none;
        color: white;

        &:hover {
            background-color: white;
            color: black;
            transition: 0.3s ease-in-out;
        }
    }

    &.Secondary {
        text-decoration: none;
        color: black;

        &:hover {
            color: white;
            background-color: black;
            transition: 0.3s ease-in-out;
        }
    }
}

.row{margin: rem(50) 0 rem(50) 0;}