.btn{
    padding: var(--pm-md);
    text-decoration: none;
    color: var(--white);
    background-color: var(--btn-bg-color);
    font-family: 'Lato';
    font-size: var(--main-size);
    line-height: rem(18);
    text-align: center;
    align-items: center;

    &-lg{
        padding: var(--pm-lg);
    }
    &-sm{
        padding: var(--pm-sm);
    }

    &-primary{
        background-color: var(--primary-color);
    }
    &-secondary{
        background-color: var(--secondary-color);
    }
    &-danger{
        background-color: var(--btn-bg-color);
    }
    &-transparent{
        background-color: transparent;
        border: 1px solid var(--text-color);
        color: /*adjust-color($color: var(--bg-color))*/ var(--text-color);
    }
}



.row{margin: rem(50) 0 rem(50) 0;}