.contact-us {
  padding-top: rem(200);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: rem(60);
  width: 100%;

  .section-title {
    display: flex;
    align-items: flex-end;
    gap: rem(16);

    .tagline {
      text-align: center;
      color: var(--text-color);
      font-size: rem(16);
      font-family: var(--main-font);
      font-weight: 600;
      line-height: rem(24);
    }

    .content {
      align-self: stretch;
      height: rem(109);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: rem(24);

      .heading {
        align-self: stretch;
        text-align: center;
        color: var(--text-color);
        font-size: rem(48);
        font-family: var(--title-font);
        font-weight: 700;
        line-height: rem(57.60);
      }

      .text {
        align-self: stretch;
        text-align: center;
        color: var(--text-color);
        font-size: rem(18);
        font-family: var(--main-font);
        font-weight: 400;
        line-height: rem(27);
      }
    }
  }

  .form {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: rem(24);

    .inputs {
      align-self: stretch;
      display: inline-flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: rem(24);

      .input {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: rem(8);

        label {
          color: var(--text-color);
          font-size: rem(16);
          font-family: var(--main-font);
          font-weight: 400;
          line-height: rem(24);
        }

        input {
          padding: rem(12);
          background: var(--white);
          border: rem(1) solid var(--text-color);
        }
      }
    }
  }

  .radios {
    width: rem(768);
    padding: rem(16) 0;
    display: flex;
    flex-direction: column;
    gap: rem(16);

    &-title {
      color: var(--text-color);
      font-size: rem(16);
      font-family: var(--main-font), sans-serif;
      font-weight: 400;
      line-height: rem(24);
    }

    &-content {
      display: flex;
      gap: rem(24);
    }

    &-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: rem(14);
    }

    .radios-option {
      display: flex;
      align-items: center;
      gap: rem(12);

      input[type="checkbox"] {
        width: rem(18);
        height: rem(18);
        background: white;
        border: rem(1) solid black;
      }

      .radios-label {
        color: black;
        font-size: rem(16);
        font-family: var(--main-font), sans-serif;
        font-weight: 400;
        line-height: rem(24);
      }
    }
  }
  .message-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .message-title {
      color: black;
      font-size: rem(16);
      font-family: var(--main-font), sans-serif;
      font-weight: 400;
      line-height: rem(24);
    }

    .text-area {
      width: 100%;
      height: rem(180);
      background: var(--white);
      border: rem(1) solid black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .type-your-message {
        flex: 1;
        color: black;
        font-size: rem(16);
        font-family: var(--main-font), sans-serif;
        font-weight: 400;
        line-height: rem(24);
        width: 100%;
        border: none;
        resize: none;
      }
    }
  }
  .input {
    select {
      padding: rem(12);
      background: var(--white);
      border: rem(1) solid var(--text-color);
      width: 100%;
      font-size: rem(16);
      line-height: rem(24);
      appearance: none;
    }
  }


  .newsletter-signup {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(80);

    &__container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: rem(80);
      width: 100%;
    }

    &__content, &__actions {
      display: flex;
      flex-direction: column;
      gap: rem(24);
    }

    &__heading {
      color: black;
      font-size: rem(40);
      font-weight: 700;
      line-height: rem(48);
      font-family: var(--main-font), sans-serif;
    }

    &__text {
      color: black;
      font-size: rem(18);
      font-weight: 400;
      line-height: rem(27);
      font-family: var(--main-font), sans-serif;
    }

    &__form {
      display: flex;
      gap: rem(16);
      align-items: center;
    }

    &__input {
      flex: 1;
      height: rem(48);
      padding: rem(12);
      border: rem(1) solid black;
      font-family: var(--main-font), sans-serif;
    }

    &__submit {
      padding: rem(12) rem(24);
      background: black;
      color: white;
      border: rem(1) solid black;
      font-family: var(--main-font), sans-serif;
      cursor: pointer;
    }

    &__disclaimer {
      color: black;
      font-size: rem(12);
      line-height: rem(18);
      font-family: var(--main-font), sans-serif;
    }
  }


}
