.contact-menu {
  width: 100%;
  padding-left: rem(150);
  flex-direction: column;
  align-items: center;
  gap: rem(80);

  .row {
    align-self: center;
    display: flex;
    gap: rem(48);

    .content {
      flex: 1 1 0%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(24);

      .icon-envelope,
      .icon-phone,
      .icon-map {
        width: rem(48);
        height: rem(48);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(8) rem(4);
        font-size: rem(35);

        .icon {
          width: rem(40);
          height: rem(32);
        }
      }

      .icon-phone .icon,
      .icon-map .icon {
        width: rem(38.01);
        height: rem(38.01);
      }

      .icon-map .icon {
        width: rem(32);
        height: rem(40);
      }

      .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(24);

        .content {
          align-self: stretch;
          height: rem(82);
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: rem(16);

          .heading {
            align-self: stretch;
            color: var(--text-color);
            font-size: rem(32);
            font-family: var(--title-font);
            font-weight: 700;
            line-height: rem(41.6);
          }

          .text {
            align-self: stretch;
            color: var(--text-color);
            font-size: var(--main-size);
            font-family: var(--main-font);
            font-weight: 400;
            line-height: rem(24);
          }
        }

        .link {
          align-self: stretch;
          color: var(--text-color);
          font-size: var(--main-size);
          font-family: var(--main-font);
          font-weight: 400;
          text-decoration: underline;
          line-height: rem(24);
        }
      }
    }
  }
}
