.Faq {
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, center, center, rem(80));

  .Container {
    width: auto;
    @include flexbox(column, nowrap, center, center, rem(80));
  }

  .SectionTitle {
    @include flexbox(column, nowrap, center, center, rem(24));
    color: var(--text-color);
    font-family: var(--website-font-family);

    .Heading {
      font-size: var(--heading-size);
      font-weight: 700;
      line-height: rem(57.6);
      text-align: center;
    }

    .Text {
      font-size: var(--main-size);
      font-weight: 400;
      line-height: var(--line-height);
      text-align: center;
    }
  }

  .Accordion {
    width: 100%;

    .faq-item {
      border-top: rem(1) solid var(--reverse-bg-color);
      font-family: var(--website-font-family);

      &:last-child {
        border-bottom: rem(1) solid var(--reverse-bg-color);
      }

      .faq-question {
        color: var(--text-color);
        font-size: var(--main-size);
        font-weight: 700;
        line-height: var(--line-height);
        width: rem(768);
        text-align: left;
        cursor: pointer;
        background: none;
        border: none;
        padding: rem(20) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:after {
          display: inline-block;
          width: rem(25);
          height: rem(20);
          transform: rotate(0deg);
          color: var(--reverse-bg-color);
          content: '▼';
        }

        &.is-open::after {
          content: '▲';
        }
      }

      .faq-answer {
        color: var(--text-color);
        display: none;
        padding: 0 rem(20) rem(20) rem(20);
      }
    }
  }

  .Content {
    @include flexbox(column, nowrap, center, center, rem(24));

    .Heading {
      font-size: var(--title-size);
      font-weight: 700;
      text-align: center;
      color: var(--text-color);
    }

    .Text {
      font-size: var(--main-size);
      font-weight: 400;
      text-align: center;
      color: var(--text-color);
    }

    .Button {
      padding: rem(12) rem(24);
      border: rem(1) solid var(--reverse-bg-color);
      font-size: var(--main-size);
      font-weight: 400;
      line-height: var(--line-height);
      color: var(--text-color);
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: rem(8);
      cursor: pointer;

      &:hover {
        background-color: var(--reverse-bg-color);
        color: var(--website-bg-color);
        transition: var( --transition-duration) ease-in-out;
      }
    }
  }
}
