.footer {
  width: 100%;
  height: rem(538);
  padding: rem(80) rem(64);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(64);

  .content {
    width: 100%;
    height: rem(244);
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    gap: rem(64);

    .column {
      width: rem(1312);
      height: rem(244);
      justify-content: flex-start;
      align-items: flex-start;
      display: inline-flex;
      flex-direction: column;
      gap: rem(32);

      &.logo-column {
        width: rem(864);
        align-items: flex-start;

        .content-info {
          align-self: stretch;
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          gap: rem(24);
        }

        .logo {
          width: rem(63);
          height: rem(27);
          position: relative;
        }

        .social-links {
          display: inline-flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: rem(12);
          text-decoration: none;

          a {
            text-decoration: none;
            font-size: rem(24);

            img {
              width: rem(24);
              height: rem(24);
            }
          }
        }
      }

      &.links-column {
        justify-content: flex-end;
        flex-direction: row;

        .link-list {
          display: flex;
          flex-direction: column;
          gap: rem(12);
        }
      }
    }
  }

  .credits {
    align-self: stretch;
    display: flex;
    flex-direction: column;

    .divider { height: rem(1); background: black; }

    .row {
      justify-content: space-between;
      display: flex;
      text-decoration: none;
      color: black;

      .footer-links {
        display: flex;
        gap: rem(24);
        justify-content: flex-end;
      }
    }
  }
}

.address, .contact, .link, .footer-link, .phone, .email, .copyright {
  font-family: var(--website-font-family);

  &.address, &.contact {
    font-weight: 600;
    font-size: rem(14);

  }

  &.phone, &.email {
    text-decoration: underline;
  }

  &.link {
    font-weight: 700;
    text-decoration: none;
    font-size: rem(16);
    line-height: rem(24);
    word-wrap: break-word;
    width: rem(180);
    height: auto;
    color: var(--black);
  }

  &.footer-link {
    font-weight: 400;
    text-decoration: underline;
    font-size: rem(14);
    line-height: rem(21);
    word-wrap: break-word;
    a {
      color: var(--black);
    }
  }
}
