body {
  padding-top: rem(100);
}

.navbar{
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  .container{
    @include flexbox(row, nowrap, space-around, center);
  }
  &-title{
    font-size: var(--title-size);
    font-family: var(--title-font);
  }
  &-links{
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-family: var(--main-font);
    list-style-type: none;
  }
  &-links li a{
    font-size: var(--main-size);
    text-decoration: none;
    color: black;
  }
  hr{
    color: var(--text-color);
    width: 100%;
    height: rem(2);
  }
}