$black : #000;
$white : #FFF;
$img-bg-color : #F4F4F4;
$bg-color : #FFF2D8;
$primary-color : #113946;
$secondary-color : #EAD7BB;
$error : #ff0000;
$centered : auto;


:root{
    /*Color*/

    --white: #{$white};
    --black: #{$black};

    --text-color: #{$black};
    --link-color-dark: #{$white};

    --primary-color : #{$primary-color};
    --secondary-color : #{$secondary-color};
    
    --bg-color-dark: #{$black};
    --bg-color-white: #{$white};
    --btn-bg-color: #{$black};
    --btn-bg-hover-color: #{lighten($black, 10%)};

    --bg-color:#{$bg-color};
    --black-bg-color : #{$black};

    --img-bg-color: #{$img-bg-color};

    --dropdown-bg-color-dark: #{$white};
    --dropdown-link-hover-bg-color-dark: #c9c9c9;

    --error-message : #{$error};

    /*Radius*/

    --main-radius: #{rem(6)};

    /*Fonts*/

    --main-font: #{$text-font};
    --title-font: #{$title-font};

    --website-font-family: #{$website-font-family};

    /*trans*/

    --transition-duration:0.3s;

    /*Font size*/
    --main-size : #{rem(18)};
    --title-size : #{rem(32)};
    --main-title-size : #{rem(80)};
    --subtitle-size : #{rem(24)};
    --heading-size : #{rem(48)};
    --line-height : #{rem(27)};

    /*Letter spacing*/

    --title-spacing : #{rem(5)};
   
    /*padding & margins */

    --pm-md : #{rem(16)};
    --pm-sm : #{rem(8)};
    --pm-lg : #{rem(16) rem(32)};
    --pm-xlg : #{rem(32)};
    --pm-xxlg : #{rem(64)};
    
    /*margin*/

    --centered : #{$centered};
}