.Header-about {
  width: 100%;
  height: rem(470);
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, unset, flex-start, rem(80));

  .Container {
    height: rem(246);
    @include flexbox(column, nowrap, unset, flex-start, rem(24));
  }

  .SectionTitle {
    align-self: stretch;
    @include flexbox(column, nowrap, unset, flex-start, rem(16));

    .Tagline {
      text-align: center;
      color: var(--text-color);
      font-size: rem(16);
      font-family: var(--website-font-family);
      font-weight: 600;
      line-height: var(--line-height);
    }

    .Content {
      align-self: stretch;
      @include flexbox(column, nowrap, unset, flex-start, rem(24));

      .ShortHeadingHere {
        color: var(--text-color);
        font-size: rem(56);
        font-family: var(--website-font-family);
        font-weight: 700;
        line-height: rem(67.20);
      }

      .Description {
        color: var(--text-color);
        font-size: var(--main-size);
        font-family: var(--website-font-family);
        font-weight: 400;
        line-height: var(--line-height);
      }
    }
  }

  .Actions {
    padding-top: rem(16);
    display: flex;
    align-items: flex-start;
    gap: rem(16);
  }
}

.Layout1-about {
  width: 100%;
  height: rem(864);
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, unset, flex-start, rem(80));

  .Container {
    align-self: stretch;
    @include flexbox(unset, nowrap, flex-start, center, rem(80));
  }

  .Content {
    flex: 1 1 0;
    @include flexbox(column, nowrap, unset, flex-start, rem(24));

    .IconRelume {
      width: rem(48);
      height: rem(48);
      padding: rem(4) rem(6);
      @include flexbox(unset, nowrap, center, center);
      background-size: contain;
    }

    .ContentText {
      align-self: stretch;
      @include flexbox(column, nowrap, unset, flex-start, rem(24));

      .Heading {
        color: var(--text-color);
        font-size: rem(40);
        font-family: var(--website-font-family);
        font-weight: 700;
        line-height: var(--heading-size);
      }

      .Text {
        color: var(--text-color);
        font-size: var(--main-size);
        font-family: var(--website-font-family);
        font-weight: 400;
        line-height: var(--line-height);
      }
    }
  }

  .PlaceholderImage {
    flex: 1 1 0;
    width: rem(616);
    height: rem(640);
    object-fit: cover;
  }
}

.Layout2-about {
  width: 100%;
  height: rem(864);
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, unset, flex-start, rem(80));

  .Container {
    align-self: stretch;
    @include flexbox(unset, nowrap, flex-start, center, rem(80));
  }

  .Content {
    flex: 1 1 0;
    @include flexbox(column, nowrap, unset, flex-start, rem(32));

    .ContentHeader {
      align-self: stretch;
      @include flexbox(column, nowrap, unset, flex-start, rem(24));

      .Heading {
        color: var(--black);
        font-size: rem(40);
        font-family: var(--website-font-family);
        font-weight: 700;
        line-height: var(--heading-size);
      }

      .Text {
        color: var(--black);
        font-size: var(--main-size);
        font-family: var(--website-font-family);
        font-weight: 400;
        line-height: var(--line-height)
      }
    }

    .List {
      align-self: stretch;
      padding: rem(8) 0;
      @include flexbox(unset, nowrap, flex-start, flex-start, rem(24));

      .ListItem {
        @include flexbox(column, nowrap, flex-start, flex-start, rem(8));

        .Number {
          color: var(--black);
          font-size: var(--heading-size);
          font-family: var(--website-font-family);
          font-weight: 700;
          line-height: rem(57.60);
        }

        .Text {
          color: var(--black);
          font-size: var(--main-size);
          font-family: var(--website-font-family);
          font-weight: 400;
          line-height: var(--line-height)
        }
      }
    }
  }

  .PlaceholderImage {
    flex: 1 1 0;
    width: rem(616);
    height: rem(640);
    object-fit: cover;
  }
}

.Team-about {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, unset, center, rem(80));

  .SectionTitle {
    @include flexbox(column, nowrap, unset, center, rem(16));

    .Subheading, .Heading, .Description {
      text-align: center;
      color: var(--black);
      font-family: var(--website-font-family);
    }
    .Subheading {
      font-size: var(--subtitle-size);
      font-weight: 600;
      line-height: var(--line-height)
    }
    .Heading {
      font-size: var(--heading-size);
      font-weight: 700;
      line-height: rem(57.60);
    }
    .Description {
      font-size: var(--main-size);
      font-weight: 400;
      line-height: var(--line-height)
    }
  }

  .Content {
    @include flexbox(column, nowrap, unset, center, rem(96));

    .Row {
      @include flexbox(unset, nowrap, space-between, unset, rem(48));
    }
    .Card {
      @include flexbox(column, nowrap, center, center, rem(24));

      .PlaceholderImage {
        width: rem(405);
        height: rem(395);
        object-fit: cover;
      }
      .CardContent {
        @include flexbox(column, nowrap, unset, center, rem(16));
      }
      .Name, .JobTitle, .Bio {
        text-align: center;
        color: var(--black);
        font-family: var(--website-font-family);
      }
      .Name {
        font-size:var(--subtitle-size);
        font-weight: 600;
        line-height: var(--line-height)
      }
      .JobTitle {
        font-size: var(--main-size);
        font-weight: 400;
        line-height: var(--line-height)
      }
      .Bio {
        font-size: var(--main-size);
        font-weight: 400;
        line-height: var(--line-height)
      }
      .SocialIcons {
        @include flexbox(unset, nowrap, center, center, rem(14));

        .IconLinkedin, .IconX, .IconDribble {
          width: rem(40);
          height: rem(32);
        }
      }
    }
  }
}

.Logo1-about {
  width: 100%;
  height: rem(584);
  padding: rem(112) rem(64);
  @include flexbox(unset, nowrap, unset, center, rem(80));

  .Container {
    @include flexbox(row, nowrap, space-between, center, rem(80));
    gap: 0.5rem;
    width: 100%;

    .Content {
      flex: 1;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: rem(24);

      .Heading {
        font-size: var(--heading-size);
        font-weight: 700;
        line-height: rem(57.60);
        color: var(--black);
        font-family: var(--website-font-family);
      }

      .Text {
        font-size: var(--main-size);
        font-weight: 400;
        line-height: var(--line-height);
        color: var(--black);
        font-family: var(--website-font-family);
      }

      .Actions {
        display: flex;
        gap: rem(24);
      }
    }

    .Logos {
      @include flexbox(column, nowrap, unset, unset, rem(8));

      .Logo {
        width: rem(304);
        height: rem(84);
        flex-direction: column;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: rem(14);

        img {
          background-color: var(--img-bg-color);
          max-width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}

.Logo2-about {
  width: 100%;
  height: rem(216);
  padding: rem(80) rem(64);
  @include flexbox(column, nowrap, center, center, rem(80));

  .Container {
    @include flexbox(unset, nowrap, start, center, rem(64));
    width: 100%;

    .Heading {
      width: rem(320);
      color: var(--black);
      font-size: var(--main-size);
      font-family: var(--website-font-family);
      font-weight: 700;
      line-height: var(--line-height);
    }

    .Logos {
      @include flexbox(unset, nowrap, end, center);
      flex: 1;

      .Logo {
        width: rem(170);
        height: rem(56);
        @include flexbox(unset, nowrap, center, center, rem(64));
        img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}

.Cta-about {
  width: 100%;
  height: rem(421);
  padding: rem(112) rem(64);
  background-color: var(--black);
  @include flexbox(column, nowrap, flex-start, flex-start, rem(80));

  .Column {
    @include flexbox(column, nowrap, flex-start, flex-start);

    .Content {
      @include flexbox(column, nowrap, flex-start, flex-start);

      .Heading {
        color: var(--white);
        font-size: var(--heading-size);
        font-family: var(--website-font-family);
        font-weight: 700;
        line-height: var(--line-height);
      }

      .Text {
        color: var(--white);
        font-size: var(--main-size);
        font-family: var(--website-font-family);
        font-weight: 400;
        line-height: var(--line-height);
      }
    }

    .Actions {
      @include flexbox(row, nowrap, flex-start, flex-start, rem(16));
      padding-top: var(--pm-md);

      .Button {
        &.btn-white {
          background: none;
          border: rem(1) solid var(--white);
          color: var(--white);

          &:hover {
            color: var(--white);
            background-color: var(--black);
            transition: var(--transition-duration) ease-in-out;
            border-color: var(--black);
          }
        }
      }
    }
  }
}
