.contact-header {
  width: 100%;
  height: auto;
  padding: 4rem rem(64);
  @include flexbox(column, nowrap, flex-start, flex-start, rem(80));

  .container {
    height: auto;
    @include flexbox(column, nowrap, flex-start, flex-start, rem(24));

    .section-title {
      text-align: start;
      font-family: var(--website-font-family);

      .tagline {
        font-size: var(--main-size);
        font-weight: 600;
        line-height: var(--subtitle-size);
        color: var(--text-color);
      }

      .short-heading-here {
        font-size: rem(56);
        font-weight: 700;
        line-height: rem(67.2);
        color: var(--text-color);
      }

      .text {
        font-size: var(--main-size);
        font-weight: 400;
        line-height: var(--line-height);
        color: var(--text-color);
      }
    }

    .actions {
      padding-top: rem(16);
      @include flexbox(unset, nowrap, flex-start, flex-start, rem(16));
    }
  }
}

.contact-map {
  width: 100%;
  height: auto;
  padding: 4rem rem(64);

  .section-title {
    @include flexbox(column, nowrap, flex-start, flex-start);
    font-family: var(--website-font-family);

    .subheading,
    .heading,
    .text {
      text-align: center;
    }

    .subheading {
      color: var(--text-color);
      font-size: var(--main-size);
      font-weight: 600;
      line-height: var(--line-height);
    }

    .heading {
      color: var(--text-color);
      font-size: var(--heading-size);
      font-weight: 700;
    }

    .text {
      color: var(--text-color);
      font-size: var(--main-size);
      font-weight: 400;
      line-height: var(--line-height);
    }
  }

  .row {
    @include flexbox(row, nowrap, center, center, rem(64));

    .column {
      @include flexbox(column, nowrap, flex-start, flex-start);

      .content {
        @include flexbox(column, nowrap, flex-start, flex-start);
        font-family: var(--website-font-family);

        .heading {
          color: var(--text-color);
          font-size: var(--subtitle-size);
          font-weight: 700;
        }

        .text {
          color: var(--text-color);
          font-size: var(--main-size);
          font-weight: 400;
          line-height: var(--line-height);
        }
      }

      .img {
        width: rem(624);
        height: rem(384);
        object-fit: cover;
      }
    }
  }

}

.contact-cta {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, flex-start, unset, rem(80));

  .container {
    @include flexbox(unset, nowrap, flex-start, center, rem(80));

    .content {
      flex: 1;
      @include flexbox(column, nowrap, unset, flex-start);
      font-family: var(--website-font-family);

      .heading {
        font-size: var(--heading-size);
        font-weight: 700;
        line-height:  var(--heading-size);
        color: var(--text-color);
      }

      .text {
        font-size: var(--main-size);
        font-weight: 400;
        line-height: var(--line-height);
        color: var(--text-color);
      }
    }

    .actions {
      width: rem(513);
      @include flexbox(column, nowrap, unset, flex-start, rem(16));

      .form {
        display: flex;
        gap: rem(16);
        font-family: var(--website-font-family);


        .text-input {
          width: rem(394);
          flex: 1;
          height: rem(48);
          padding: rem(12);
          border: rem(1) solid var(--text-color);
          font-size: var(--main-size);
        }

        .subscribe-button {
          height: rem(48);
          padding: rem(12) rem(24);
          background: var(--btn-bg-color);
          color: var(--text-color);
          border: rem(1) solid var(--reverse-bg-color);
          font-size: var(--main-size);
          cursor: pointer;
        }
      }

      .terms {
        font-family: var(--website-font-family);
        font-size: rem(12);
        line-height: var(--main-size);
        color: var(--text-color);
      }
    }
  }
}