.contact-header {
  width: 100%;
  height: auto;
  padding: 4rem rem(64);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: rem(80);

  .container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(24);

    .section-title {
      text-align: start;

      .tagline {
        font-size: rem(16);
        font-weight: 600;
        line-height: rem(24);
        color: black;
      }

      .short-heading-here {
        font-size: rem(56);
        font-weight: 700;
        line-height: rem(67.2);
        color: black;
      }

      .text {
        font-size: rem(18);
        font-weight: 400;
        line-height: rem(27);
        color: black;
      }
    }

    .actions {
      padding-top: rem(16);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: rem(16);
    }
  }
}

.contact-map {
  width: 100%;
  height: auto;
  padding: 4rem rem(64);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .section-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .subheading,
    .heading,
    .text {
      text-align: center;
    }

    .subheading {
      font-size: rem(16);
      font-weight: 600;
    }

    .heading {
      font-size: rem(48);
      font-weight: 700;
    }

    .text {
      font-size: rem(18);
      font-weight: 400;
    }
  }

  .row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(64);

    .column {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .heading {
          font-size: rem(32);
          font-weight: 700;
        }

        .text {
          font-size: rem(16);
          font-weight: 400;
        }
      }
    }
  }
}

.contact-cta {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: rem(80);

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(80);

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .heading {
        font-size: rem(40);
        font-weight: 700;
        line-height: rem(48);
        color: black;
      }

      .text {
        font-size: rem(18);
        font-weight: 400;
        line-height: rem(27);
        color: black;
      }
    }

    .actions {
      width: rem(513);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(16);

      .form {
        display: flex;
        gap: rem(16);

        .text-input {
          width: rem(394);
          flex: 1;
          height: rem(48);
          padding: rem(12);
          background: white;
          border: rem(1) solid black;
          font-size: rem(16);
        }

        .subscribe-button {
          height: rem(48);
          padding: rem(12) rem(24);
          background: black;
          color: white;
          border: rem(1) solid black;
          font-size: rem(16);
          cursor: pointer;
        }
      }

      .terms {
        font-size: rem(12);
        line-height: rem(18);
        color: black;
      }
    }
  }
}


