.Portfolio-container {
  width: 100%;
  padding-bottom: rem(80);
  @include flexbox(column, nowrap, flex-start, center, rem(80));

  .background-image {
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: var(--white);
      @include flexbox(column, nowrap, center, center, rem(24));

      h1 {
        font-size: var(--h1-font-size);
        font-family: var(--website-font-family);
        font-weight: 700;
        line-height: rem(67.2);
      }

      p {
        font-size: var(--main-size);
        font-family: var(--website-font-family);
        font-weight: 400;
        line-height: var(--line-height);
      }

      .tags {
        display: flex;
        gap: rem(8);

        span {
          padding: rem(4) rem(8);
          background: var(--img-bg-color);
          font-size: var(--main-size);
          font-family: var(--website-font-family);
          font-weight: 600;
          line-height: var(--line-height);
        }
      }
    }
  }
}

.Portfolio-Gallery {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  background: var(--bg-color-white);
  @include flexbox(column, nowrap, flex-start, center, rem(150));

  .SectionTitle {
    height: rem(109);
    @include flexbox(column, nowrap, flex-start, center);

    .Heading {
      width: 100%;
      text-align: center;
      color: var(--text-color);
      font-size: var(--heading-size);
      font-family: var(--website-font-family);
      font-weight: 700;
      line-height: rem(57.6);
    }

    .Text {
      width: 100%;
      text-align: center;
      color: var(--text-color);
      font-size: var(--main-size);
      font-family: var(--website-font-family);
      font-weight: 400;
      line-height: var(--line-height);
    }
  }

  
}

.Portfolio {
  width: auto;
  height: rem(1148);
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, flex-start, center, rem(180));

  .SectionTitle {
    height: rem(149);
    @include flexbox(column, nowrap, flex-start, center);

    .Subheading {
      text-align: center;
      color: var(--text-color);
      font-size: var(--main-size);
      font-family: var(--website-font-family);
      font-weight: 600;
      line-height: var(--line-height);
    }

    
  }

  .Content {
    @include flexbox(column, nowrap, flex-start, center);

    .PortfolioList {
      @include flexbox(column, nowrap, flex-start, center, rem(48));

      .Row {
        width: auto;
        display: flex;
        justify-content: flex-start;
        gap: rem(48);

        .Card {
          flex: 1;
          @include flexbox(column, nowrap, flex-start, flex-start);

          .PlaceholderImage {
            width: rem(632);
            height: rem(400);
            object-fit: cover;
          }

          .Content {
            width: 100%;
            @include flexbox(column, nowrap, flex-start, flex-start);

            .Text {
              @include flexbox(column, nowrap, flex-start, flex-start);

              .Heading {
                color: var(--text-color);
                font-size: var(--subtitle-size);
                font-family: var(--website-font-family);
                font-weight: 700;
                line-height: rem(33.6);
              }

              .Text {
                color: var(--text-color);
                font-size: var(--main-size);
                font-family: var(--website-font-family);
                font-weight: 400;
                line-height: var(--line-height)
              }
            }

            .Tags {
              @include flexbox(unset, nowrap, flex-start, flex-start, rem(8));

              .Tag {
                padding: rem(4) rem(8);
                background: var(--img-bg-color);
                color: var(--text-color);
                font-size: var(--main-size);
                font-family: var(--website-font-family);
                font-weight: 600;
                line-height: var(--line-height)
              }
            }
          }
        }
      }
    }
  }
}

.Portfolio-Layout {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, flex-start, flex-start, rem(80));

  .Content {
    align-self: center;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(80);

    .Column {
      flex: 1;
      @include flexbox(column, nowrap, flex-start, flex-start, rem(16));

      .Subheading {
        align-self: stretch;
        color: var(--text-color);
        font-size: var(--main-size);
        font-family: var(--website-font-family);
        font-weight: 600;
        line-height: var(--line-height)
      }

      .Heading {
        align-self: stretch;
        color: var(--text-color);
        font-size: var(--heading-size);
        font-family: var(--website-font-family);
        font-weight: 700;
        line-height: rem(57.6);
      }

      .Actions {
        padding-top: rem(16);
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: rem(16);
      }
    }

    .Column {
      gap: rem(24);

      .Text {
        align-self: stretch;
        color: var(--text-color);
        font-size: var(--main-size);
        font-family: var(--website-font-family);
        font-weight: 400;
        line-height: var(--line-height)
      }
    }
  }

  .PlaceholderImage {
    align-self: stretch;
    width: 100%;
    height: rem(838);
    object-fit: cover;
  }
}

.Portfolio-Logo {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, flex-start, center, rem(48));

  .Heading {
    color: var(--text-color);
    font-size: var(--main-size);
    font-family: var(--website-font-family);
    font-weight: 700;
    line-height: var(--line-height)
  }

  .Content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(24);

    .Logo {
      &.Webflow,
      &.Relume {
        width: rem(200);
        height: rem(48);
        padding: rem(9.75) rem(43);
        @include flexbox(unset, nowrap, center, center);
      }

      &.Relume {
        height: rem(56);
        position: relative;
      }
    }
  }
}

.Portfolio-feedback {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, flex-start, flex-start, rem(80));

  .SectionTitle {
    height: rem(180);
    @include flexbox(column, nowrap, flex-start, flex-start);

    .Heading {
      color: var(--text-color);
      font-size: var(--heading-size);
      font-family: var(--website-font-family);
      font-weight: 700;
      line-height: rem(57.6);
    }

    .Text {
      color: var(--text-color);
      font-size: var(--main-size);
      font-family: var(--website-font-family);
      font-weight: 400;
      line-height: var(--line-height);
    }
  }

  .Content {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items : flex-start;
    gap: rem(64);

    .Column {
      @include flexbox(column, nowrap, flex-start, flex-start, rem(20));

      .Stars {
        @include flexbox(unset, nowrap, flex-start, flex-start);
        img {
          width: rem(20);
          height: rem(18.89);
        }
      }

      .Quote {
        color: var(--text-color);
        font-size: var(--main-size);
        font-family: var(--website-font-family);
        font-weight: 700;
        line-height: var(--line-height);
      }

      .Avatar {
        width: 100%;
        height: rem(61);
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: rem(20);

        .AvatarImage {
          width: rem(56);
          height: rem(56);
          object-fit: fill;
          border-radius: rem(9999); //Pour arrondir au max
        }

        .AvatarContent {
          display: inline-flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .Name,
          .Role {
            color: var(--text-color);
            font-size: var(--main-size);
            font-family: var(--website-font-family);
            line-height: var(--line-height);
            word-wrap: break-word;
          }

          .Name {
            font-weight: 600; // Plus gras pour le nom
          }

          .Role {
            font-weight: 400; //Normal pour la description
          }
        }

        .Divider {
          width: rem(61);
          height: 0;
          transform: rotate(90deg);
          border: rem(1) solid var(--reverse-bg-color);
        }

        .CompanyLogo {
          width: rem(120);
          height: rem(48);
          padding: rem(9.75) rem(3);
          @include flexbox(unset, nowrap, center, center);
        }
      }
    }
  }
}

.Portfolio-cta {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: rem(80);

  .Content {
    height: rem(197);
    @include flexbox(column, nowrap, flex-start, center, rem(24));

    .Heading {
      align-self: stretch;
      text-align: center;
      color: var(--text-color);
      font-size: var(--heading-size);
      font-family: var(--website-font-family);
      font-weight: 700;
      line-height: rem(57.6);
      word-wrap: break-word;
    }

    .Text {
      align-self: stretch;
      text-align: center;
      color: var(--text-color);
      font-size: var(--main-size);
      font-family: var(--website-font-family);
      font-weight: 400;
      line-height: var(--line-height);
      word-wrap: break-word;
    }

    .Actions {
      padding-top: rem(16);
      display: inline-flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: rem(16);
    }
  }
}
