.Portfolio-Header {
  width: 100%;
  height: rem(958);
  padding-bottom: rem(80);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: rem(80);

  .PlaceholderImage {
    align-self: stretch;
    flex: 1 1 0;
  }

  .Content {
    height: rem(171);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: rem(24);

    .Heading,
    .Text {
      width: rem(768);
      text-align: center;
      color: black;
      font-size: rem(56);
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      line-height: rem(67.20);

      &.Text {
        font-size: rem(18);
        font-weight: 400;
        line-height: rem(27);
      }
    }

    .Tags {
      width: rem(768);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: rem(8);

      .Tag {
        padding: rem(4) rem(8);
        background: #F4F4F4;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        div {
          color: black;
          font-size: rem(14);
          font-family: 'Roboto', sans-serif;
          font-weight: 600;
          line-height: rem(21);
        }
      }
    }
  }
}

.Portfolio-Gallery {
  width: 100%;
  height: rem(1511);
  padding: rem(400) rem(64) rem(112) rem(64);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: rem(150);

  .SectionTitle {
    height: rem(109);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .Heading {
      width: 100%;
      text-align: center;
      color: black;
      font-size: rem(48);
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      line-height: rem(57.60);
    }

    .Text {
      width: 100%;
      text-align: center;
      color: black;
      font-size: rem(18);
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      line-height: rem(27);
    }
  }

  .Content {
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(24);

    div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: rem(32);

      img {
        width: rem(640);
        &:first-child {
          flex: 1 1 0;
        }
      }

      .PlaceholderImage2,
      .PlaceholderImage3 {
        height: rem(426);
      }
    }
  }
}

.Portfolio {
  width: 100%;
  height: rem(1148);
  padding: rem(400) rem(64) rem(200) rem(64);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: rem(180);

  .SectionTitle {
    height: rem(149);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .Subheading {
      text-align: center;
      color: black;
      font-size: rem(16);
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      line-height: rem(24);
    }

    .Content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: rem(0);

      .Heading {
        text-align: center;
        color: black;
        font-size: rem(48);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        line-height: rem(57.6);
      }

      .Text {
        text-align: center;
        color: black;
        font-size: rem(18);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: rem(27);
      }
    }
  }

  .Content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: rem(10);

    .PortfolioList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: rem(48);

      .Row {
        width: rem(1312);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: rem(48);

        .Card {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: rem(24);

          .PlaceholderImage {
            width: 100%;
            height: rem(400);
          }

          .Content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .Text {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: rem(0);

              .Heading {
                color: black;
                font-size: rem(24);
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                line-height: rem(33.6);
              }

              .Text {
                color: black;
                font-size: rem(16);
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                line-height: rem(24);
              }
            }

            .Tags {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              gap: rem(8);

              .Tag {
                padding: rem(4) rem(8);
                background: #F4F4F4;
                color: black;
                font-size: rem(14);
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                line-height: rem(21);
              }
            }
          }
        }
      }
    }
  }
}

.Portfolio-Layout {
  width: 100%;
  height: rem(1292);
  padding: rem(400) rem(64) rem(200) rem(64);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: rem(80);

  .Content {
    align-self: center;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(80);

    .Column {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: rem(16);

      .Subheading {
        align-self: stretch;
        color: black;
        font-size: rem(16);
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        line-height: rem(24);
      }

      .Heading {
        align-self: stretch;
        color: black;
        font-size: rem(48);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        line-height: rem(57.6);
      }

      .Actions {
        padding-top: rem(16);
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: rem(16);
      }
    }

    .Column {
      gap: rem(24);

      .Text {
        align-self: stretch;
        color: black;
        font-size: rem(18);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: rem(27);
      }
    }
  }

  .PlaceholderImage {
    align-self: stretch;
    height: rem(738);
  }
}

.Portfolio-Logo {
  width: 100%;
  height: rem(291);
  padding: rem(400) rem(64) rem(200) rem(64);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: rem(48);

  .Heading {
    color: black;
    font-size: rem(18);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: rem(27);
  }

  .Content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(24);

    .Logo {
      &.Webflow, &.Relume {
        width: rem(200);
        height: rem(48);
        padding: rem(9.75) rem(43);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.Relume {
        height: rem(56);
        position: relative;
      }
    }
  }
}

.Portfolio-feedback {
  width: 100%;
  height: rem(640.89);
  padding: rem(112) rem(64);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: rem(80);

  .SectionTitle {
    height: rem(180);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .Heading {
      color: black;
      font-size: rem(48);
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      line-height: rem(57.60);
    }

    .Text {
      color: black;
      font-size: rem(18);
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      line-height: rem(27);
    }
  }

  .Content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(64);

    .Column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: rem(20);

      .Stars {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        img {
          width: rem(20);
          height: rem(18.89);
        }
      }

      .Quote {
        color: black;
        font-size: rem(20);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        line-height: rem(28);
      }

      .Avatar {
        width: 100%;
        height: rem(61);
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: rem(20);

        .AvatarImage {
          width: rem(56);
          height: rem(56);
          border-radius: rem(9999);
        }

        .AvatarContent {
          display: inline-flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .Name, .Role {
            color: black;
            font-size: rem(16);
            font-family: 'Roboto', sans-serif;
            line-height: rem(24);
            word-wrap: break-word;
          }

          .Name {
            font-weight: 600; // Plus gras pour le nom
          }

          .Role {
            font-weight: 400; //Normal pour la description
          }
        }

        .Divider {
          width: rem(61);
          height: 0;
          transform: rotate(90deg);
          border: rem(1) solid black;
        }

        .CompanyLogo {
          width: rem(120);
          height: rem(48);
          padding: rem(9.75) rem(3);
          display: flex;
          justify-content: center;
          align-items: center;

        }
      }

    }
  }
}

.Portfolio-cta {
  width: 100%;
  height: rem(421);
  padding: rem(226) rem(100);
  background: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: rem(80);

  .Content {
    height: rem(197);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: rem(24);

    .Heading {
      align-self: stretch;
      text-align: center;
      color: black;
      font-size: rem(48);
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      line-height: rem(57.6);
      word-wrap: break-word;
    }

    .Text {
      align-self: stretch;
      text-align: center;
      color: black;
      font-size: rem(18);
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      line-height: rem(27);
      word-wrap: break-word;
    }

    .Actions {
      padding-top: rem(16);
      display: inline-flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: rem(16);
    }
  }
}
