.project-header {
  width: 100%;
  height: rem(395);
  padding: rem(112) rem(64);
  background: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(80);

  .Content {
    height: rem(171);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: rem(24);

    .Heading {
      align-self: stretch;
      text-align: center;
      color: black;
      font-size: rem(56);
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      line-height: rem(67.2);
      word-wrap: break-word;
    }

    .Text {
      align-self: stretch;
      text-align: center;
      color: black;
      font-size: rem(18);
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      line-height: rem(27);
      word-wrap: break-word;
    }

    .Tags {
      align-self: stretch;
      display: inline-flex;
      justify-content: center;
      align-items: flex-start;
      gap: rem(8);

      .Tag {
        padding: rem(4) rem(8);
        background: #F4F4F4;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        div {
          color: black;
          font-size: rem(14);
          font-family: 'Roboto', sans-serif;
          font-weight: 600;
          line-height: rem(21);
          word-wrap: break-word;
        }
      }
    }
  }
}

.project-content {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  background: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: rem(80);

  .Container {
    align-self: stretch;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(80);

    .PlaceholderImage {
      flex: 1 1 0;
      height: rem(640);
    }

    .Content {
      flex: 1 1 0;
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: rem(24);

      .Heading {
        align-self: stretch;
        color: black;
        font-size: rem(48);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        line-height: rem(57.6);
        word-wrap: break-word;
      }

      .RichText {
        align-self: stretch;
        height: rem(296);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .Content {
          align-self: stretch;
          padding-bottom: rem(16);
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .Paragraph {
            align-self: stretch;
            color: black;
            font-size: rem(16);
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            line-height: rem(24);
            word-wrap: break-word;
          }
        }
      }
    }
  }
}

.project-gallery {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: rem(80);

  .SectionTitle {
    height: rem(109);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: rem(24);

    .Heading, .Text {
      align-self: stretch;
      text-align: center;
      color: black;
      font-size: rem(48);
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      line-height: rem(57.6);
      word-wrap: break-word;
    }
  }

  .PlaceholderImage1 {
    align-self: stretch;
    height: rem(738);
    width: 100%; // responsive
    object-fit: cover;
  }
}

.project-layout {
  width: 100%;
  height: rem(864);
  padding: rem(112) rem(64);
  background: white;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: rem(80);

  .Container {
    align-self: stretch;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(80);

    .Content {
      flex: 1 1 0;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: rem(24);

      .SectionTitle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: rem(16);
        align-self: stretch;
        height: rem(288);

        .Subheading {
          text-align: center;
          color: black;
          font-size: rem(16);
          font-weight: 600;
          line-height: rem(24);
        }

        .Heading {
          color: black;
          font-size: rem(48);
          font-weight: 700;
          line-height: rem(57.6);
          align-self: stretch;
        }

        .Text {
          color: black;
          font-size: rem(18);
          font-weight: 400;
          line-height: rem(27);
          align-self: stretch;
        }
      }

      .List {
        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: rem(24);
        padding: rem(8) 0;
        align-self: stretch;

        .ListItem {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: rem(16);
          flex: 1 1 0;

          .SubheadingOne,
          .SubheadingTwo {
            color: black;
            font-size: rem(20);
            font-weight: 700;
            line-height: rem(28);
            align-self: stretch;
          }

          .Text {
            color: black;
            font-size: rem(16);
            font-weight: 400;
            line-height: rem(24);
            align-self: stretch;
          }
        }
      }

      .Actions {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: rem(24);
        padding-top: rem(16);
      }
    }

    .PlaceholderImage {
      flex: 1 1 0;
      height: rem(640);
    }
  }
}

.project-layout2 {
  width: 100%;
  height: rem(1346);
  padding: rem(112) rem(64);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: rem(250);

  .Content {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: rem(80);

    .Column {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: rem(16);

      .Subheading {
        align-self: stretch;
        color: black;
        font-size: rem(16);
        font-weight: 600;
        line-height: rem(24);
      }

      .Heading, Text {
        align-self: stretch;
        color: black;
        font-size: rem(48);
        font-weight: 700;
        line-height: rem(57.6);
      }

      .Actions {
        padding-top: rem(16);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: rem(24);
      }
    }
  }

  .PlaceholderImage {
    align-self: stretch;
    height: rem(738);
  }
}

.project-faq {
  padding: rem(112) rem(64);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .SectionTitle {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(1);

    .Heading {
      font-size: 3rem;
      font-weight: 700;
    }

    .Text {
      font-size: 1.125rem;
      font-weight: 400;
    }
  }

  .Accordion {
    width: 100%;

    .faq-item {
      width: 100%;
      border-bottom: rem(1) solid #eaeaea;

      .faq-question {
        width: 100%;
        text-align: left;
        font-size: 1.125rem;
        font-weight: 700;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem 0;

        &:after {
          content: '▼';
          font-size: 1.5rem;
          transition: transform 0.3s;
        }

        &.is-open::after {
          transform: rotate(0deg); //pour tourner
        }
      }

      .faq-answer {
        display: none; // Caché par défaut
        padding: 0 1.25rem;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 0.5rem;
      }
    }
  }

  .Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      color: black;
      text-decoration: none;
    }

  }
}

.project-cta {
  width: 100%;
  height: rem(421);
  padding: rem(112) rem(64);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: rem(80);

  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(24);

    .content {
      .heading {
        color: white;
        font-size: rem(48);
        font-weight: 700;
        line-height: rem(57.6);
      }

      .text {
        color: white;
        font-size: rem(18);
        font-weight: 400;
        line-height: rem(27);
      }
    }

    .Actions {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: rem(16);
      padding-top: rem(16);

      .Button {
        &.btn-white {
          background: none;
          border: rem(1) solid white;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}


