.project-header {
  width: 100%;
  height: rem(395);
  padding: rem(112) rem(64);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(80);

  .Content {
    height: rem(171);
      @include flexbox(column, nowrap, flex-start, center, rem(24));

    .Heading {
      align-self: stretch;
      text-align: center;
      color: var(--text-color);
      font-size: rem(56);
      font-family: var(--website-font-family);
      font-weight: 700;
      line-height: rem(67.2);
      word-wrap: break-word;
    }

    .Text {
      align-self: stretch;
      text-align: center;
      color: var(--text-color);
      font-size: var(--main-size);
      font-family: var(--website-font-family);
      font-weight: 400;
      line-height: var(--line-height);
      word-wrap: break-word;
    }

    .Tags {
      align-self: stretch;
      display: inline-flex;
      justify-content: center;
      align-items: flex-start;
      gap: rem(8);

      .Tag {
        padding: rem(4) rem(8);
        background: var(--img-bg-color);
        @include flexbox(unset, nowrap, flex-start, flex-start);

        div {
          color: var(--black);
          font-size: var(--main-size);
          font-family: var(--website-font-family);
          font-weight: 600;
          line-height: var(--line-height);
          word-wrap: break-word;
        }
      }
    }
  }
}

.project-content {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: rem(80);

  .Container {
    align-self: stretch;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(80);

    .PlaceholderImage {
      width: rem(616);
      height: rem(640);
      object-fit: cover;
    }

    .Content {
      flex: 1 1 0;
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: rem(24);

      .Heading {
        align-self: stretch;
        color: var(--text-color);
        font-size: var(--heading-size);
        font-family: var(--website-font-family);
        font-weight: 700;
        line-height: rem(57.6);
        word-wrap: break-word;
      }

      .RichText {
        align-self: stretch;
        height: rem(296);
        @include flexbox(column, nowrap, flex-start, flex-start);

        .Content {
          align-self: stretch;
          padding-bottom: rem(16);
          @include flexbox(column, nowrap, flex-start, flex-start);

          .Paragraph {
            align-self: stretch;
            color: var(--text-color);
            font-size: var(--main-size);
            font-family: var(--website-font-family);
            font-weight: 400;
            line-height: var(--line-height);
            word-wrap: break-word;
          }
        }
      }
    }
  }
}

.project-gallery {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, flex-start, center, rem(80));

  .SectionTitle {
    height: rem(109);
    @include flexbox(column, nowrap, flex-start, center, rem(24));

    .Heading, .Text {
      align-self: stretch;
      text-align: center;
      color: var(--text-color);
      font-size: var(--heading-size);
      font-family: var(--website-font-family);
      font-weight: 700;
      line-height: rem(57.6);
      word-wrap: break-word;
    }
  }

  .PlaceholderImage1 {
    width: rem(1312);
    height: rem(738);
    object-fit: cover;
  }
}

.project-layout {
  width: 100%;
  height: rem(864);
  padding: rem(112) rem(64);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: rem(80);

  .Container {
    align-self: stretch;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(80);

    .Content {
      flex: 1 1 0;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: rem(24);

      .SectionTitle {
        @include flexbox(column, nowrap, flex-start, flex-start, rem(16));
        align-self: stretch;
        height: rem(288);

        .Subheading {
          text-align: center;
          color: var(--text-color);
          font-size: var(--main-size);
          font-weight: 600;
          font-family: var(--website-font-family);
          line-height: var(--line-height);
        }

        .Heading {
          color: var(--text-color);
          font-size: var(--heading-size);
          font-weight: 700;
          font-family: var(--website-font-family);
          line-height: rem(57.6);
          align-self: stretch;
        }

        .Text {
          color: var(--text-color);
          font-size: var(--main-size);
          font-weight: 400;
          font-family: var(--website-font-family);
          line-height: var(--line-height);
          align-self: stretch;
        }
      }

      .List {
        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: rem(24);
        padding: rem(8) 0;
        align-self: stretch;

        .ListItem {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: rem(16);
          flex: 1 1 0;

          .SubheadingOne,
          .SubheadingTwo {
            color: var(--text-color);
            font-size: var(--main-size);
            font-weight: 700;
            font-family: var(--website-font-family);
            line-height: var(--line-height);
            align-self: stretch;
          }

          .Text {
            color: var(--text-color);
            font-size: var(--main-size);
            font-weight: 400;
            font-family: var(--website-font-family);
            line-height: var(--line-height);
            align-self: stretch;
          }
        }
      }

      .Actions {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: rem(24);
        padding-top: rem(16);
      }
    }

    .PlaceholderImage {
      flex: 1 1 0;
      width: rem(616);
      height: rem(640);
      object-fit: cover;
    }
  }
}

.project-layout2 {
  width: 100%;
  height: rem(1346);
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, flex-start, center, rem(80));
  font-family: var(--website-font-family);

  .Content {
    align-self: stretch;
    @include flexbox(row, nowrap, flex-start, flex-start, rem(80));

    .Column {
      flex: 1;
      @include flexbox(column, nowrap, flex-start, flex-start, rem(16));

      .Subheading {
        align-self: stretch;
        color: var(--text-color);
        font-size: var(--main-size);
        font-weight: 600;
        font-family: var(--website-font-family);
        line-height: var(--line-height);
      }

      .Heading, Text {
        align-self: stretch;
        color: var(--text-color);
        font-size: var(--heading-size);
        font-weight: 700;
        font-family: var(--website-font-family);
        line-height: rem(57.6);
      }

      .Actions {
        padding-top: rem(16);
        @include flexbox(row, nowrap, flex-start, center, rem(24));
      }
    }
  }

  .PlaceholderImage {
    width: rem(1312);
    height: rem(738);
    object-fit: cover;
  }
}

.project-faq {
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, unset, flex-start);

  .Container {
    width: 100%;
    @include flexbox(column, nowrap, unset, flex-start);
  }

  .SectionTitle {
    width: 100%;
    text-align: center;
    font-family: var(--website-font-family);
    @include flexbox(column, nowrap, unset, flex-start, rem(1));

    .Heading {
      font-family: var(--website-font-family);
      font-size: var(--heading-size);
      font-weight: 700;
    }

    .Text {
      font-family: var(--website-font-family);
      font-size: var(--main-size);
      font-weight: 400;
    }
  }

  .Accordion {
    width: 100%;

    .faq-item {
      width: 100%;
      border-bottom: rem(1) solid #eaeaea;

      .faq-question {
        width: 100%;
        text-align: left;
        font-size: var(--main-size);
        font-weight: 700;
        background: none;
        border: none;
        cursor: pointer;
        @include flexbox(unset, nowrap, space-between, center);
        padding: 1.25rem 0;

        &:after {
          content: '▼';
          font-size: 1.5rem;
          transition: transform 0.3s;
        }

        &.is-open::after {
          content: '▲';
        }
      }

      .faq-answer {
        display: none; // Caché par défaut
        padding: 0 1.25rem;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 0.5rem;
      }
    }
  }

  .Content {
    @include flexbox(column, nowrap, unset, flex-start);

    a {
      color: var(--text-color);
      text-decoration: none;
    }

  }
}

.project-cta {
  width: 100%;
  height: rem(421);
  padding: rem(112) rem(64);
  background: var(--black);
  @include flexbox(column, nowrap, flex-start, flex-start, rem(80));

  .column {
    @include flexbox(column, nowrap, flex-start, flex-start, rem(24));

    .content {
      font-family: var(--website-font-family);
      .heading {
        color: var(--white);
        font-size: var(--heading-size);
        font-weight: 700;
        line-height: rem(57.6);
      }

      .text {
        color: var(--white);
        font-size: var(--main-size);
        font-weight: 400;
        line-height: var(--line-height);
      }
    }

    .Actions {
      @include flexbox(unset, nowrap, flex-start, flex-start, rem(16));
      padding-top: rem(16);

      .Button {
        &.btn-white {
          background: none;
          border: rem(1) solid var(--white);
          color: var(--white);

          &:hover {
            color: var(--white);
            background-color: var(--black);
            transition: var(--transition-duration) ease-in-out;
            border-color: var(--black);
          }
        }
      }
    }
  }
}
