.service-header {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, flex-start, center, rem(80));
  font-family: var(--website-font-family);

  .column {
    height: auto;
    @include flexbox(column, nowrap, flex-start, center, rem(24));

    .content {
      .headline {
        text-align: center;
        color: var(--text-color);
        font-size: rem(56);
        font-weight: 700;
        line-height: rem(67.2);
      }

      .description {
        text-align: center;
        color: var(--text-color);
        font-size: var(--main-size);
        font-weight: 400;
        line-height: var(--line-height);
      }
    }

    .Actions {
      @include flexbox(unset, nowrap, flex-start, flex-start, rem(16));
      padding-top: rem(16);
    }
  }

  
}

.service-layout1 {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, unset, unset, rem(80));
  font-family: var(--website-font-family);
  box-sizing: border-box;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(80);

    .content {
      @include flexbox(column, nowrap, flex-start, flex-start);

      .section-title {
        @include flexbox(column, nowrap, flex-start, flex-start, rem(16));
        color: var(--text-color);

      }

      .list {
        width: rem(616);
        height: auto;
        @include flexbox(unset, nowrap, flex-start, flex-start, rem(24));
        color: var(--text-color);

        .list-item {
          @include flexbox(column, nowrap, flex-start, flex-start);

          .number {
            font-size: var(--heading-size);
            font-weight: 700;
          }

          .text {
            font-size: var(--main-size);
            font-weight: 400;
          }
        }
      }

      
    }

    
  }
}

.service-layout2 {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, flex-start, center, rem(80));
  font-family: var(--website-font-family);

  .section-title {
    @include flexbox(column, nowrap, flex-start, center, rem(16));
    color: var(--text-color);

    .subheading, .heading, .text {
      text-align: center;
    }

    .subheading {
      font-size: var(--main-size);
      font-weight: 600;
      line-height: var(--line-height);
    }

    h1 {
      font-size: var(--heading-size);
      font-weight: 700;
      line-height: var(--line-height);
    }

    .text {
      font-size: var(--main-size);
      font-weight: 400;
      line-height: var(--line-height);
    }
  }

  .content {
    @include flexbox(column, nowrap, flex-start, center, rem(48));
    color: var(--text-color);

    

    .Actions {
      @include flexbox(unset, nowrap, flex-start, center, rem(24));
    }
  }
}

.service-gallery {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, flex-start, center, rem(80));
  font-family: var(--website-font-family);

  .section-title {
    @include flexbox(column, nowrap, flex-start, center, rem(24));

    .heading {
      font-size: var(--heading-size);
      font-weight: 700;
      line-height: rem(57.6);
      color: var(--text-color);
      text-align: center;
    }

    .text {
      font-size: var(--main-size);
      font-weight: 400;
      line-height: var(--line-height);
      color: var(--text-color);
      text-align: center;
    }
  }

  .gallery-content {
    @include flexbox(unset, nowrap, center, flex-start, rem(32));
    width: 100%;

    .image-column {
      @include flexbox(column, nowrap, flex-start, center, rem(32));

      .placeholder-image1,
      .placeholder-image4 {
        width: rem(640);
        height: rem(640);
        object-fit: cover;
      }

      .placeholder-image2,
      .placeholder-image3 {
        width: rem(640);
        height: rem(426);
        object-fit: cover;
      }
    }
  }
}

.service-feedback {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, center, center, rem(80));

  .Content {
    width: 100%;
    @include flexbox(unset, nowrap, center, center, rem(64));

    .Column {
      @include flexbox(column, nowrap, center, center, rem(20));

      .Stars {
        display: flex;
        img {
          width: rem(20);
          height: rem(18.89);
        }
      }

      .Quote {
        color: var(--text-color);
        font-size: var(--main-size);
        font-family: var(--website-font-family);
        font-weight: 700;
        line-height: var(--line-height);
      }

      .Avatar {
        width: 100%;
        height: rem(61);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: rem(20);

        .AvatarImage {
          width: rem(56);
          height: rem(56);
          object-fit: cover;
          border-radius: rem(9999); //pour être rond
        }

        .AvatarContent {
          display: inline-flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .Name, .Role {
            color: var(--text-color);
            font-size: var(--main-size);
            font-family: var(--website-font-family);
            line-height: var(--line-height);
            word-wrap: break-word;
          }

          .Name {
            font-weight: 600; // Plus gras pour le nom
          }

          .Role {
            font-weight: 400; //Normal pour la description
          }
        }

        .Divider {
          width: rem(61);
          height: 0;
          transform: rotate(90deg);
          border: rem(1) solid var(--reverse-bg-color);
        }

        .CompanyLogo {
          width: rem(120);
          height: rem(48);
          padding: rem(9.75) rem(3);
          @include flexbox(unset, nowrap, center, center);
        }
      }

    }
  }
}

.service-cta1 {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, unset, unset, rem(80));
  box-sizing: border-box;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : rem(80);
  }

  .column {
    @include flexbox(column, nowrap, flex-start, flex-start, rem(24));

    .content {
      .heading {
        font-size: var(--heading-size);
        font-weight: 700;
        font-family: var(--website-font-family);
        line-height: rem(57.6);
        color: var(--text-color);
      }

      .text {
        font-size: var(--main-size);
        font-weight: 400;
        font-family: var(--website-font-family);
        line-height: var(--line-height);
        color: var(--text-color);
      }
    }

    .actions {
      padding-top: rem(16);
      @include flexbox(unset, nowrap, flex-start, flex-start, rem(16));
    }
  }

  
}

.service-cta2 {
  width: 100%;
  height: auto;
  padding: rem(112) rem(64);
  @include flexbox(column, nowrap, unset, unset, rem(80));
  box-sizing: border-box;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : rem(80);
  }

  .column {
    @include flexbox(column, nowrap, flex-start, flex-start, rem(16));
    color: var(--text-color);

    .content {
      h2.heading {
        font-size: var(--heading-size);
        font-weight: 700;
        font-family: var(--website-font-family);
        line-height: rem(57.6);
      }

      p.text {
        font-size: var(--main-size);
        font-weight: 400;
        font-family: var(--website-font-family);
        line-height: var(--line-height);
      }
    }

    form.actions {
      @include flexbox(column, nowrap, unset, unset, rem(16));

      .form-group {
        display: flex;
        gap: rem(16);

        .text-input {
          flex: 1 1 0;
          width: rem(394);
          height: rem(48);
          padding: rem(12);
          border: rem(1) solid var(--reverse-bg-color);
          font-size: var(--main-size);
          line-height: var(--line-height);
          font-family: var(--website-font-family);
        }
        
      }

      p.terms {
        font-size: rem(12);
        font-family: var(--website-font-family);
        line-height: var(--line-height);
        color: var(--text-color);
      }
    }
  }

}