$black : #000;
$white : #FFF;
$img-bg-color : #F4F4F4;
$bg-color : #FFF2D8;
$primary-color : #113946;
$secondary-color : #EAD7BB;
$error : #ff0000;
$grey: #333;
$darkgrey: #666;
$centered : auto;


.dark-mode {
  --text-color: #{$white};
  --reverse-text-color: #{$black};
  --website-bg-color: #121212;
  --reverse-bg-color : #{$white};
  --btn-bg-color: #000000;
  --dropdown-bg-color: #ffffff;
  --dropdown-link-hover-bg-color : #{darken($white, 10%)};
  --icon-color : invert(100%);
  --img-bg-color: #{lighten($black, 20%)};
}

:root{
    /*Color*/
    --white: #{$white};
    --black: #{$black};
    --grey: #{$grey};
    --darkgrey: #{$darkgrey};
    --text-color: #{$black};
    --reverse-text-color: #{$white};
    --bg-color:#{$bg-color};
    --website-bg-color : #{$white};
    --reverse-bg-color : #{$black};
    --icon-color :  invert(0);
    --primary-color : #{$primary-color};
    --secondary-color : #{$secondary-color};
    --btn-bg-color: #{$white};
    --btn-bg-hover-color: #{lighten($black, 10%)};
    --img-bg-color: #{darken($white, 10%)};
    --dropdown-bg-color : #{$white};
    --dropdown-link-hover-bg-color : #{lighten($black, 10%)};
    --error-message : #{$error};

    /*Radius*/

    --main-radius: #{rem(6)};

    /*Fonts*/

    --main-font: #{$text-font};
    --title-font: #{$title-font};
    --website-font-family: #{$website-font-family};

    /*trans*/

    --transition-duration:0.3s;

    /*Font size*/
    --main-size : #{rem(18)};
    --main-size-768: #{rem(9)};
    --title-size : #{rem(32)};
    --title-size-768 : #{rem(16)};
    --main-title-size : #{rem(80)};
    --subtitle-size : #{rem(24)};
    --subtitle-size-768 : #{rem(12)};
    --heading-size : #{rem(48)};
    --heading-size-768 : #{rem(30)};
    --line-height : #{rem(27)};
    --h1-font-size : #{rem(56)};
    --h1-font-size-768 : #{rem(28)};

    /*Letter spacing*/

    --title-spacing : #{rem(5)};
   
    /*padding & margins */

    --pm-md : #{rem(16)};
    --pm-sm : #{rem(8)};
    --pm-lg : #{rem(16) rem(32)};
    --pm-xlg : #{rem(32)};
    --pm-xxlg : #{rem(64)};
    
    /*margin*/

    --centered : #{$centered};
}